<div class="w-full overflow-hidden rounded-2xl border border-gray-200">

    <div
        class="grid gap-4 p-4 border-b border-gray-200 bg-gray-50"
        [style.gridTemplateColumns]="'repeat(' + columns() + ', minmax(0, 1fr))'">
        @for (col of [].constructor(columns()); track $index) {

            <p-skeleton
                height="1rem">
            </p-skeleton>

        }
    </div>

    <div class="divide-y divide-gray-100">
        @for (row of [].constructor(rows()); track $index) {
            <div
                class="grid gap-4 p-4 items-center"
                [style.gridTemplateColumns]="'repeat(' + columns() + ', minmax(0, 1fr))'">
                @for (col of [].constructor(columns()); track $index) {

                    <p-skeleton
                        [height]="height()">
                    </p-skeleton>

                }
            </div>
        }
    </div>

</div>