<div class="mb-4 p-8">
    <p-card [header]="title" [subheader]="subtitle">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            @for (modulo of modulos; track modulo.ruta) {
            <div class="h-full">
                <p-card styleClass="h-full">
                    <div class="flex flex-col justify-between h-full" [style.minHeight.px]="minHeighCard">
                        <div class="flex flex-col gap-4">
                            <div class="flex items-center gap-3">
                                 <i [class]="modulo.icono + ' text-3xl'"></i>
                                <h4 class="m-0 font-bold">{{ modulo.nombre }}</h4>
                            </div>

                            <span class="text-gray-600">
                                {{ modulo.descripcion }}
                            </span>
                        </div>
                        <div class="pt-4 flex justify-end">
                            <p-button type="button" label="Ingresar" severity="info" size="small" [text]="true"
                                icon="pi pi-arrow-right" (click)="irModulo(modulo.ruta)">
                            </p-button>
                        </div>
                    </div>
                </p-card>
            </div>
            }
        </div>
    </p-card>
</div>